[Unit]
Description=Run MeshCore metadata archiver daily

[Timer]
OnCalendar=*-*-01 02:30:00
Persistent=true
Unit=mqttdataarchiver.service

[Install]
WantedBy=timers.target
