certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
idna==3.11
meshcoredecoder==0.2.3
paho-mqtt==2.1.0
pycparser==2.23
pycryptodome==3.23.0
requests==2.32.5
urllib3==2.5.0
